# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
src/__pycache__/

# Environnements virtuels
.venv/*
venv/
env/

# Tests / couverture
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# Éditeurs / OS
.vscode/
.idea/
.DS_Store
uv.lock